{% extends "base.html" %}

{% block page_content %}

<div class="jumbotron">
    <h1 class="display-4">Pool Tournaments</h1>
    <p class="lead">Tournaments info</p>
    <hr class="my-4">
    <p>Links to calendar</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Sign Up</a>
</div>

<div class="jumbotron">
    <h1 class="display-4">Darts Tournaments</h1>
    <p class="lead">Tournaments info</p>
    <hr class="my-4">
    <p>Links to calendar</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Sign Up</a>
</div>

<div class="jumbotron">
    <h1 class="display-4">Ladie's Night</h1>
    <p class="lead">Ladies play free</p>
    <hr class="my-4">
    <p>Links to calendar</p>
</div>

{% endblock %}
