{% extends "base.html" %}

{% block page_content %}


<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Beers on Tap</h1>
        <p class="lead">Local selections and classic domestics</p>
    </div>
</div>



<div class="container">
    <div class="row">
        <!-- ##### Row One of Beers on Tap ##### -->
            <div class="col-md-3">
                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Foothills</h5> <!-- ##### Name ##### -->
                        <p class="card-text">Jade IPA</p> <!-- ##### Description ##### -->
                    </div>
                </div>
            </div>
                
            <div class="col-md-3">
                    <div class="card" style="width: 18rem;">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Foothills</h5><!-- ##### Name ##### -->
                          <p class="card-text">Jade IPA</p><!-- ##### Description ##### -->
                        </div>
                    </div>
                </div>
            
                <div class="col-md-3">
                    <div class="card" style="width: 18rem;">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Foothills</h5><!-- ##### Name ##### -->
                          <p class="card-text">Jade IPA</p><!-- ##### Description ##### -->
                        </div>
                    </div>
                </div>
            
                <div class="col-md-3">
                    <div class="card" style="width: 18rem;">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Foothills</h5><!-- ##### Name ##### -->
                          <p class="card-text">Jade IPA</p><!-- ##### Description ##### -->
                        </div>
                    </div>
                </div>
    </div>

    <div class="row">
            <!-- ##### Row Two of Beers on Tap ##### -->
                <div class="col-md-3">
                    <div class="card" style="width: 18rem;">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Foothills</h5><!-- ##### Name ##### -->
                            <p class="card-text">Jade IPA</p><!-- ##### Description ##### -->
                        </div>
                    </div>
                </div>
                    
                <div class="col-md-3">
                        <div class="card" style="width: 18rem;">
                            <img src="..." class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Foothills</h5><!-- ##### Name ##### -->
                              <p class="card-text">Jade IPA</p><!-- ##### Description ##### -->
                            </div>
                        </div>
                    </div>
                
                    <div class="col-md-3">
                        <div class="card" style="width: 18rem;">
                            <img src="..." class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Foothills</h5><!-- ##### Name ##### -->
                              <p class="card-text">Jade IPA</p><!-- ##### Description ##### -->
                            </div>
                        </div>
                    </div>
                
                    <div class="col-md-3">
                        <div class="card" style="width: 18rem;">
                            <img src="..." class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Foothills</h5><!-- ##### Name ##### -->
                              <p class="card-text">Jade IPA</p><!-- ##### Description ##### -->
                            </div>
                        </div>
                    </div>
            <!-- End Beers on Tap -->
    </div>
</div>





{% endblock %}