{% extends "base.html" %}

{% block page_content %}


<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Beers on Tap</h1>
        <p class="lead">Local selections and classic domestics</p>
    </div>
</div>



<div class="container">
    <div class="row">
        <!-- ##### Row One of Beers on Tap ##### -->
            <div class="col-md-3">
                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Foothills</h5> <!-- ##### Name ##### -->
                        <p class="card-text">Jade IPA</p> <!-- ##### Description ##### -->
                    </div>
                </div>
            </div>
                
            <div class="col-md-3">
                    <div class="card" style="width: 18rem;">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Foothills</h5><!-- ##### Name ##### -->
                          <p class="card-text">Jade IPA</p><!-- ##### Description ##### -->
                        </div>
                    </div>
                </div>
            
                <div class="col-md-3">
                    <div class="card" style="width: 18rem;">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Foothills</h5><!-- ##### Name ##### -->
                          <p class="card-text">Jade IPA</p><!-- ##### Description ##### -->
                        </div>
                    </div>
                </div>
            
                <div class="col-md-3">
                    <div class="card" style="width: 18rem;">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Foothills</h5><!-- ##### Name ##### -->
                          <p class="card-text">Jade IPA</p><!-- ##### Description ##### -->
                        </div>
                    </div>
                </div>
    </div>

    <div class="row">
            <!-- ##### Row Two of Beers on Tap ##### -->
                <div class="col-md-3">
                    <div class="card" style="width: 18rem;">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Foothills</h5><!-- ##### Name ##### -->
                            <p class="card-text">Jade IPA</p><!-- ##### Description ##### -->
                        </div>
                    </div>
                </div>
                    
                <div class="col-md-3">
                        <div class="card" style="width: 18rem;">
                            <img src="..." class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Foothills</h5><!-- ##### Name ##### -->
                              <p class="card-text">Jade IPA</p><!-- ##### Description ##### -->
                            </div>
                        </div>
                    </div>
                
                    <div class="col-md-3">
                        <div class="card" style="width: 18rem;">
                            <img src="..." class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Foothills</h5><!-- ##### Name ##### -->
                              <p class="card-text">Jade IPA</p><!-- ##### Description ##### -->
                            </div>
                        </div>
                    </div>
                
                    <div class="col-md-3">
                        <div class="card" style="width: 18rem;">
                            <img src="..." class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Foothills</h5><!-- ##### Name ##### -->
                              <p class="card-text">Jade IPA</p><!-- ##### Description ##### -->
                            </div>
                        </div>
                    </div>
            <!-- End Beers on Tap -->
    </div>
</div>

<br>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Spirits Menu</h1>
        <p class="lead">All your favorites</p>
    </div>
</div>

<div class="container">
    <div class="row">

        <div class="col-md-6">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Maker's Mark</li>
                <li class="list-group-item">Jack Daniels</li>
                <li class="list-group-item">Johnny Walker</li>
                <li class="list-group-item">George Dickel</li>
                <li class="list-group-item">Jameson</li>
            </ul>
        </div>

        <div class="col-md-6">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Tito's</li>
                <li class="list-group-item">Beefeater</li>
                <li class="list-group-item">El Jimador</li>
                <li class="list-group-item">Bacardi</li>
                <li class="list-group-item">Cointreau</li>
            </ul>
        </div>

    </div>
</div>

<br>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Wine Menu</h1>
        <p class="lead">All your favorites</p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Cabernet</li>
                <li class="list-group-item">Pinot Noir</li>
                <li class="list-group-item">Pinot Grigio</li>
                <li class="list-group-item">Sauvignon Blanc</li>
                <li class="list-group-item">Rosè</li>
            </ul>
        </div>
    </div>
</div>

<br>

{% endblock %}